<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Offcuts Management System</title>
</head>
<body>
    <nav>
        <div class="logo" style="visibility: visible;">
		    <span>
				<a href="/"><img class="btMainLogo" data-hw="2.28846153846" src="https://www.summitpatterns.com/wp-content/uploads/2017/09/logo.png" alt="Summit Patternmaking"></a>
            </span>
		</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/stock">Stock</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="row justify-content-center">
            {{#if message}}
                <div class="alert alert-{{color}} d-flex align-items-center alert-dismissible fade show" role="alert">
                    <strong>{{message}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {{/if}}
            <div class="col">
                <form action="/" method="post">
                    <div class="row justify-content-center">
                        <div class="col-sm-6">
                            <div class="card text-center mt-4">
                                <div class="card-body">
                                    <h5 class="card-title">Material</h5>
                                    <div class="d-grid mx-auto">
                                        <select class="form-select" id="Code" name="Code">
                                            <option selected>Select</option>
                                            
                                            <option value="T302_50">(Type 302) 2000 x 500 x 50 (£91.85)</option>
                                            <option value="T302_100">(Type 302) 2000 x 500 x 100 (£183.70)</option>
                                            <option value="T302_150">(Type 302) 2000 x 500 x 150 (£275.55)</option>
                                            
                                            <option value="T502_50">(Type 502) 1500x500x50 (£89.90)</option>
                                            <option value="T502_75">(Type 502) 1500x500x75 (£134.85)</option>
                                            <option value="T502_100">(Type 502) 1500x500x100 (£179.80)</option>
                                            
                                            <option value="T630_50">(Type 630) 1500 x 500 x 50 (£94.65)</option>
                                            <option value="T630_75">(Type 630) 1500 x 500 x 75 (£141.98)</option>
                                            <option value="T630_100">(Type 630) 1500 x 500 x 100 (£189.30)</option>
                                            
                                            <option value="T750_50">(Type 750) 1500x500x50 (£117.40)</option>
                                            <option value="T750_75">(Type 750) 1500x500x75 (£176.10)</option>
                                            <option value="T750_100">(Type 750) 1500x500x100 (£234.80)</option>
                                            
                                            <option value="T850_50">(Type 850) 1500x500x50 (£193.45)</option>
                                            <option value="T850_75">(Type 850) 1500x500x75 (£290.18)</option>
                                            <option value="T850_100">(Type 850) 1500x500x100 (£386.90)</option>
                                            
                                            <option value="T1200_50">(Type 1200) 1500x500x50 (£135.45)</option>
                                            <option value="T1200_75">(Type 1200) 1500x500x75 (£203.18)</option>
                                            <option value="T1200_100">(Type 1200) 1500x500x100 (£270.90)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-sm-6">
                            <div class="card text-center mt-4">
                                <div class="card-body">
                                    <h5 class="card-title">Size</h5>

                                    <div class="d-grid gap-2 col-3 mx-auto">
                                        <input type="radio" class="btn-check" name="size" id="Full" value="Full" autocomplete="off">
                                        <label class="btn btn-outline-primary" for="Full">Full</label>

                                        <input type="radio" class="btn-check" name="size" id="Half" value="Half" autocomplete="off">
                                        <label class="btn btn-outline-primary" for="Half">Half</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="card text-center mt-4">
                                <div class="card-body">
                                    <h5 class="card-title">Task</h5>

                                    <div class="d-grid gap-2 col-3 mx-auto">
                                        <input type="radio" class="btn-check" name="task" id="return" value='return' autocomplete="off">
                                        <label class="btn btn-outline-primary" for="return">Return</label>

                                        <input type="radio" class="btn-check" name="task" id="consume" value='consume' autocomplete="off">
                                        <label class="btn btn-outline-primary" for="consume">Consume</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="card text-center mt-4">
                                <div class="card-body">
                                    <h5 class="card-title">Quantity</h5>
                                    <div class="d-grid gap-2 col-3 mx-auto">
                                        <input type="number" class="form-control text-center" min="0" name="qty" id="qty" value="1" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card text-center mt-4">
                            <div class="card-body d-grid gap-2 col-4 mx-auto">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div>
                    
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>